:root {
    --main-color: #1F0235;
    --yellow-color: #FAB115;
    --white-color: #ffffff;
    --black-color: #000000;
    --background-color: #E9E9F7;
    --title-color: #595959;
    --some-color-rgb: 142, 152, 185;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

pre {
    margin-bottom: 0 !important;
}

textarea,
textarea:before,
textarea:after,
input,
input:before,
input:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

a {
    text-decoration: none !important;
    list-style: none;
    color: var(--black-color) !important;
}

#root {
    background-color: var(--background-color);
}

.home-profile {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    font-weight: 700;
}

.home-profile .balance-item {
    font-size: 1em;
    white-space: nowrap;
}

.home-profile .line {
    font-weight: 100;
}

.home-body {
    padding: 10px;
    z-index: 10;

}

.balance {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.balance span:last-child {
    font-weight: 700;
}

.home-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin-top: 50px;
    width: 100%;
    z-index: 10;
}

.home-buttons button {
    width: 100%;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.yellow {
    background-color: #FEB415 !important;
}

.red {
    color: red !important;
}

.green {
    color: green !important;
}

.waiting {
    color: var(--yellow-color) !important;
}

.home-buttons button:hover {
    background-color: var(--yellow-color);
}

.category-card {
    width: 28vw;
    height: calc(28vw*4/3.2);
    display: grid;
    grid-template-rows: 70% 30%;
    background-color: #e2e4f7;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 10px;
}

.category-img {
    width: 100%;
    text-align: center;
}

.category-img img {
    height: 80%;
    width: 80%;
}

.category-text {
    text-align: center;
    font-size: 2.8vw;
}

.money-btn {
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background-color: var(--main-color);
    color: var(--white-color);
}

.money-btn:hover {
    background-color: var(--yellow-color);
}

.money-btn.yellow:hover {
    background-color: var(--main-color);
}

.money-btn.open-modal-btn {
    grid-column: 1 / 3;
}

.profile-btn {
    padding: 10px 40px;
    font-weight: 600;
    font-size: 25px;
    border: none;
    background-color: transparent;
}

/**** Put Money ****/

.put-money {
    display: flex;
    height: 100vh;
    width: 100hw;
    flex-direction: column;
    background-color: var(--background-color);
}

.put-money-input {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    justify-content: start;
    width: 100%;
    font-size: 20px;
    padding: 10px;
}

.offer-modal-input .put-money-input {
    gap: 20px;
}

.put-money-input label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.put-money-input input {
    border: 0;
    outline: none;
    font-size: 20px;
    width: 60%;
    border-bottom: 1px solid #333;
    text-align: center;
    background-color: var(--background-color);
}

/**** Profile Page ****/

.profile-avatar {
    padding: 20px;
    border-bottom: 1px solid var(--black-color);
}

.profile-author {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-author h3,
.profile-author h5 {
    font-weight: 700;
}

.profile-avatar-footer {
    display: flex;
    font-size: 20px;
    font-weight: 500;
}

.money-cart {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.money-cart h6 {
    text-align: end;
    margin-right: 10px;
}

.history {
    padding: 10px;
}

.history-cart {
    text-align: center;
    margin-top: 20px;
}

/****My modal ****/

.my-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-weight: 500;
}

.my-modal p {
    text-align: center;
}

.my-modal img {
    width: 100%;
}

.message-body {
    padding: 10px 20px;
    border-radius: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-right: 15px solid var(--main-color);
}

.message-body span {
    margin-bottom: 0;
    float: left;
    font-weight: 500;
}

.give-money {
    position: fixed;
    left: 70px;
    right: 70px;
    bottom: 5px;
    padding: 10px 0;
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 20px;
}

.give-money-btn {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.give-money-btn button {
    border: 1px solid var(--main-color);
    border-radius: 20px;
    padding: 10px 20px;
    color: var(--main-color);
}

.give-money-btn button:hover {
    background-color: var(--main-color);
    color: var(--white-color);
}

.carrier-menu,
.client-menu,
.admin-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px 0;
}

.client-menu {
    padding: 0;
    column-gap: 10px;
}

/**** Change Course ****/

.change-course {
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
    padding: 0 10px;
}

.chc-header {

    padding: 10px;
    padding-top: 30px;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 2px solid var(--black-color);
}

.chc-header-item {
    display: flex;
    justify-content: space-between;
    font-size: 3.2vw;
}

.chc-body h3 {
    margin-top: 1.8em;
    font-weight: 700;
}

.chc-body-item-title {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.chc-body-item-title h4 {
    font-weight: 700;
    margin-bottom: 0;
}

.chc-body-item-body img {
    width: 90%;
}

.chc-body-item-title span {
    font-weight: 800;
    font-size: 1.5em;
}

/**** Requests ***/

.request-page {
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
}

.request-header {
    padding: 20px;
    font-size: 6vw;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #b3b3b3;
}

.request-header p {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.request-header .row {
    display: flex;
    align-items: center;
}

.request-header h5 {
    margin: 0;
}

.request-body {
    padding: 10px;
}

.component71-item-2 {
    margin-bottom: 20px;
}

.component71-item-2 select {
    display: flex;
    justify-content: center;
    outline: none;
}

.single-offer-input {
    margin: 0 auto;
    border: none;
    background-color: var(--background-color);
}

.offers-page .component71-item {
    padding: 10px;
    font-size: 18px;
}

.offers-page .component71-item-2 {
    padding: 10px;
    font-size: 18px;
}

.offer-request-page {
    min-height: 100vh;
    padding: 0 10px;
    background-color: var(--background-color);
}

.offer-request-body .request-body-item {
    padding: 10px;
    height: 35vh;
    overflow-y: scroll;
}

.request-body-item {
    margin-bottom: 20px;
}

.offer-request-body .col-2 {
    font-size: 3vw !important;
}

.offers-page-x .request-header {
    padding: 10px;
}

.request-body-title {
    padding-top: 10px;
    font-weight: 600;
    border-bottom: 2px solid #b3b3b3;

}

.request-body-title .col-2 {
    border-left: 2px solid #b3b3b3;
    padding: 0;
    text-align: center;
    font-size: 4vw;
}

.request-body-content {
    margin-top: 10px;
}

.request-time {
    padding-top: 20px;
    text-align: center;
    font-weight: 500;
}

.request-table {
    border-bottom: 2px solid #1F0235;
    padding-bottom: 20px;
    padding-top: 20px;
}

.offers-page {
    background-color: var(--background-color);
    width: 100vw;
    min-height: 100vh;
    padding: 0 10px;
    padding-bottom: 50px;
}

.offers-page .request-body-title {
    font-size: 14px;
}

.offers-page .request-body-title .col-2:first-child {
    border-left: none;
}

.offers-page .request-table .col-2 {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 12px;
}

.offers-page .request-table {
    padding: 10px 0;
}

/*** Component71 page ***/
.component71-page {
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
}

.component71-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    gap: 5px;
    width: 100%;

}

.component71-header h1,
.component71-header h3 {
    padding: 0;
    margin: 0;
    font-weight: 700;
}

.request-modal-item-2 {
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
}

.request-modal-item-2 .col-9 {
    display: flex;
    flex-direction: column;
}

.request-modal-item-2 .col-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.component71-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.component71-item span {
    font-weight: 500;
}

.component71-item h3 {
    padding: 0;
    margin: 0;
    font-weight: 800;
    text-align: center;
}

.component71-item p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.component71-item input {
    border: none;
    border-bottom: 1px solid #9F9C9C;
    outline: none;
    background-color: var(--background-color);
}

.component71-item-check .col-6 {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
}

/**** Carrier Page ****/
.carrier-item {
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    margin-bottom: 20px;
}

.carrier-item.money-card {
    padding: 15px 10px;
}

.carrier-item .row {
    display: flex;
    padding: 5px 0;
    align-items: center;
    border-radius: 20px;
    margin: 0;
}

.carrier-card {
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.carrier-card img {
    border-radius: 50%;
}

.korea {
    background-color: #EEFFEC;
}

.carrier-item h3 {
    font-size: 5vw;
    font-weight: 700;
}

.carrier-item img {
    width: 100%;
}

.carrier-item span {
    font-size: 4vw;
    font-weight: 700;
}

.carrier-item p {
    font-size: 4vw;
    margin-bottom: 4px;
    font-weight: 600;
}

.carrier-item-footer {
    display: flex;
    justify-content: space-between;
}

.carrier-select-page {
    display: flex;
    justify-content: end;
    gap: 10px;
    padding-bottom: 10px;
}

.carrier-select select {
    border: none;
    background-color: var(--background-color);
    outline: none;
}

.add-carrier-item {
    width: 100%;
    height: fit-content;
    background-color: #fff;
    box-shadow: 2px 2px 2px .7;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 22% 56% 22%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.add-carrier-item .image {
    padding: 10px;
}

.add-carrier-item img {
    width: 100%;
    border-radius: 50%;
}

.add-carrier-item .name {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 15px;
}

.add-carrier-item .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-btn {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-btn button {
    padding: 5px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--white-color);
}

.givemoney-item1 {
    border-right: 2px solid var(--black-color);
}

.givemoney-item2 {
    padding: 0 20px;
    font-size: 20px;
    font-weight: 600;
}

.givemoney-item2 p {
    font-size: 1em;
}

.carrier-body h5 {
    text-align: center;
    margin-bottom: 20px;
}

/**** Carrier Modal***/
.request-modal-item {
    width: 100%;
}

.request-modal-item .col-9 {
    display: flex;
    flex-direction: column;
}

.request-modal-item .col-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-input {
    position: relative;
}

.modal-input:last-child {
    margin-bottom: 20px;
}

.modal-input input {
    border: none;
    border-bottom: 2px solid #9F9C9C;
    background-color: var(--background-color);
    padding-left: 70px;
    outline: none;
    font-size: 22px;
}

.modal-input span {
    position: absolute;
    top: 0px;
    left: 10px;
}

.modal-foooter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.modal-foooter button {
    border: 2px solid var(--main-color);
    padding: 5px 20px;
    color: var(--main-color);
    border-radius: 10px;
}

.modal-foooter button:hover {
    background-color: var(--main-color);
    color: var(--white-color);
}


/**** Transactions****/
.transaction-page {
    background-color: var(--background-color);
    min-height: 100vh;
}

.transaction-header {
    padding: 20px;
    border-bottom: 2px solid var(--black-color);
    font-weight: 900;
    text-align: center;
}

.transaction-header h1 {
    margin: 0;
    padding: 0;
}

.transaction-body {
    padding: 10px;
    font-weight: 500;
}

.transaction-body h3 {
    font-size: 20px;
    padding: 10px;
}

.trans-item {
    padding: 10px 0;
}

.trans-item span {
    font-size: 20px;
    font-weight: 700;
}

.trans-item .col-6:last-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trans-input {
    display: flex;
    gap: 15px;
    align-items: center;
}

.trans-input input {
    width: 20px;
    height: 20px;
}

.trans-item button {
    border: none;
    background-color: transparent;
    font-size: 20px;
}

.trans-img {
    padding: 10px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trans-img button {
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    background-color: var(--main-color);
    margin: 10px auto;
}

.trans-img.active {
    display: block;
}

.trans-summ {
    padding: 20px;
    display: flex;
    gap: 20px;
    font-size: 25px;
    font-weight: 700;
}

.sale-page {
    padding: 10px;
    min-height: 100vh;
    font-weight: 900;
    background-color: var(--background-color);
}

.sale-body {
    padding-top: 20px;
}

.sale-body .request-body-title {
    font-weight: 800;
}

.sale-modal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sale-modal .home-header {
    border: none;
}

.white-line {
    width: 100vw;
    margin: 10px 0;
    transform: translateX(-15px);
}

.white-line.modal-line {
    width: 100%;
    transform: none;
}

.white-line.white {
    border-bottom: 1px solid var(--white-color);
}

.white-line.black {
    border-bottom: 1px solid #333;
}

/* Layout Styles */

.bottom-navigation {
    position: fixed;
    right: 0;
    bottom: 10px;
    left: 0;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    height: 45px;
}

.bottom-navigation .full-circle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-navigation .circle-button {
    position: relative;
    border-radius: 50%;
    background-color: var(--yellow-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bottom-navigation .circle-button img {
    width: 25px;
}

.bottom-navigation .circle-button .unread-number {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 20px;
    height: 20px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
}

.bottom-navigation .middle-buttons {
    grid-column: 2/2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bottom-navigation .middle-buttons .middle-button {
    background-color: var(--main-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    color: var(--white-color);
    border-radius: 25px;
    height: 40px;
    text-align: center;
    font-size: .8em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bottom-navigation .middle-buttons .middle-button.secondary {
    background-color: var(--background-color);
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

.bottom-navigation .middle-buttons .middle-button.disabled {
    background-color: #999;
}

.bottom-navigation .circle-button.left {
    grid-column: 1/1;
}

.bottom-navigation .circle-button.right {
    grid-column: 3/3;
}


/* Modal Styles */
.modal-header,
.modal-body,
.modal-footer {
    background-color: var(--background-color) !important;
}

.modal-body {
    max-height: 60vh;
    overflow: hidden scroll;
}

.modal .model-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.modal .model-buttons button {
    padding: 5px 25px;
}

.modal .model-buttons button.reject {
    background-color: var(--background-color);
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

.modal-dialog-centered {
    justify-content: center !important;
}

.modal-header {
    justify-content: center !important;
}

.modal-footer {
    justify-content: center !important;
}

.modal-button {
    height: 40px;
    color: var(--white-color);
    background-color: var(--main-color);
    border-radius: calc(40px/2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0;
    padding: 0 50px;
}

.modal-60w {
    width: 60vw;
}

/* Title Styles */
.main-title {
    width: 100vw;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333333;
    /* background-color: blue; */
    border-bottom: 1px solid #999;
}

.main-title .left,
.main-title .right {
    font-size: 20px;
    font-weight: bold;
}

.main-title .right.small {
    font-size: 14px;
}

.main-title.in-content {
    transform: translateX(-15px);
}

/* Header Styles */

.header {
    width: 100vw;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 8px rgb(101 101 102 / 14%);
    border-bottom: 2px solid #9f9c9c8c;
}

.header .avatar {
    height: 40px;
    border-radius: 50%;
}

/* Notification Styles */
.notification-datetime {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.notification-date {
    font-weight: bold;
}

.notification-card {
    width: 100%;
    background-color: #fff;
    margin: 15px 0;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.notification-card.offer {
    border-left: 15px solid var(--yellow-color);
}

.notification-card.query {
    border-right: 15px solid var(--main-color);
}

.notification-card .notification-body,
.notification-card .notification-title {
    width: 100%;
    text-align: left;
}

.notification-card .notification-title {
    border-bottom: 1px solid #999;
}

.notification-card .notification-time {
    width: 100%;
    text-align: right;
}

/* Transaction Styles */

.transaction-item {
    width: 100%;
    margin: 10px 0;
}

.transaction-item .transaction-status {
    text-align: right;
}

.transaction-item .transaction-card {
    min-height: 17vw;
    background-color: var(--white-color);
    padding: 10px;
    margin-top: 5px;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 25% 1% 43% 1% 30%;
}

.transaction-item .transaction-card .transaction-type,
.transaction-item .transaction-card .transaction-amount,
.transaction-item .transaction-card .transaction-details,
.transaction-item .transaction-card .transaction-details-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.transaction-item .transaction-card .transaction-type,
.transaction-item .transaction-card .transaction-amounts,
.transaction-item .transaction-card .transaction-details {
    height: 100%;
}

.transaction-item .transaction-card .transaction-amounts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.transaction-item .transaction-card .transaction-details {
    flex-direction: column;
    padding: 0 2px;
}

.transaction-item .transaction-card .transaction-details-item {
    font-size: .85em;
}

.transaction-item .transaction-card .bar {
    width: 2px;
    height: 100%;
    background-color: #333;
}

/* Single Transaction Styles */

.query-top-block .query-title {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.query-top-block .exchange-rate {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.query-top-block .exchange-rate-total {
    font-size: 1.4em;
    font-weight: bold;
}

.query-receiver-block .receiver-details-block {
    padding-top: 10px;
}

.query-receiver-block .receiver-details-block img {
    width: 100%;
}

.query-receiver-block .receiver-details-block .card-info-sms {
    font-size: 1.4em;
}

.offer-header {
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px;
}

.assigned-queries-block {
    width: 100%;
}

.assigned-queries-block .block-item {
    display: grid;
    grid-template-columns: 50% 50%;
    font-weight: bold;
    margin: 1em 0;
}

.assigned-queries-block .block-right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.query-card-info-block {
    grid-column: 1/3;
}

.query-card-info-block .card-info-item {
    padding: 15px 0;
}

.query-card-info-block .card-info-item img {
    width: 100%;
}

.query-card-info-block .upload-button {
    height: 40px;
    color: var(--white-color);
    background-color: var(--main-color);
    border-radius: calc(40px/2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0;
    padding: 0 20px;
}

.payment-proof-image-block {
    position: relative;
    width: 100%;
    padding: 10px;
}

.payment-proof-image-block img {
    width: 100%;
}

.payment-proof-image-block .delete-image-button {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 1.5em;
}

.empty-box {
    height: 1em;
    width: 1em;
    border: 1px solid #000;
}

.total-block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

/* Misc Stlyes */

.wrapper {
    min-height: 100vh;
}

.content {
    width: 100vw;
    min-height: fit-content;
    padding: 15px;
}

.center {
    text-align: center;
}

.hide {
    display: none;
}

.rate-disabled {
    color: red !important;
}

/* Client App Styles */

/* Query Page */

.amount-input {
    position: relative;
    background: #EAE9F7;
    border: 1px solid var(--main-color);
    box-shadow: inset 5px 5px 15px rgba(189, 144, 245, 0.35);
    border-radius: 25.9016px;
    margin: 15px 40px;
    text-align: center;
    padding: 5px;
    font-size: 1.4em;
    font-weight: bold;
    color: #444;
}

.numbers {
    margin: 0 auto;
    width: 80%;
    height: 90vw;
    border-radius: 5vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    padding: 15px;
}

.numbers .number {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--main-color);
    border-radius: 3vw;
    font-size: 2em;
    font-weight: bold;
    color: #444;
    background-color: var(--main-color);
    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.numbers .number.lg {
    font-size: 8vw;
}

.numbers .number.disabled {
    background-color: var(--background-color);
    border: 0;
    color: var(--main-color);
    box-shadow: none;
}

.numbers .number.confirm {
    background-color: #009A34;
    border: 0;
}

.numbers .number.danger {
    color: red;
}

.numbers .number:active {
    box-shadow: none;
    transform: translateY(2px);
}

.numbers .number.disable:active {
    background-color: var(--white-color);
    border: 0;
    box-shadow: none;
}

.numbers .number.disable {
    background-color: var(--background-color);
    border: 0;
    box-shadow: none;
}

.money-types-block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10vw;
}

.money-types-block .radio-label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.money-types-block .radio-label input[type=radio] {
    display: none;
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
}

.money-types-block .radio-label input[type="radio"]+*::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.3rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #666;
}

.money-types-block .radio-label input[type="radio"]:checked+* {
    color: #666;
}

.money-types-block .radio-label input[type="radio"]:checked+*::before {
    background: radial-gradient(#666 0%, #666 40%, transparent 50%, transparent);
    border-color: #666;
}

.money-types-block .radio-label input[type=radio]:checked {
    background-color: #666 !important;
}

.money-types-block .radio-label .text {
    margin-left: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--title-color);
}



.money-types-block .form-check-label {
    font-size: 15px;
    font-weight: bold;
    color: #555;
    margin-left: 5px;
}

.loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader .spinner-grow {
    width: 100vw !important;
    height: 100vw !important;
}

.spacer {
    width: calc(100vw - 30px);
    height: 45px;
}

.confirmation-button {
    background-color: var(--main-color);
    font-size: 0.7em;
    color: var(--white-color);
    text-align: center;
    padding: 10px 20px;
    border: 1px solid var(--main-color);
    border-radius: 25px;
    box-shadow: 7.689393997192383px 7.689393997192383px 21.969697952270508px 0px #9585B866;
}

.confirmation-button.lg {
    font-size: 1.2em;
}

.text-body {
    margin-top: 15px;
    font-size: 1.2em;
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.modal-title {
    width: 100%;
}

/* Query Page -> Address Block Styles */

.address-block {
    width: calc(100vw - 30px);
}

.address-title,
.address-block .address-block-item .address-title {
    color: var(--title-color);
    font-weight: bold;
    margin: 15px 0;
}

.address-block .address-block-item .address-details {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 5px;
}

.address-block .address-block-item .address-details input {
    background-color: var(--background-color);
    border: 0;
    border-bottom: 1px solid #000;
    outline: none;
    width: 90%;
    transform: translateY(-2px);
}

.address-block .address-block-item .account-image-block .preview,
.address-block .address-block-item .account-sms-field {
    width: 90%;
    margin: 0 auto;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EAE9F7;
    border: 1px solid #1F0235;
    box-shadow: inset 5px 5px 15px rgba(189, 144, 245, 0.35);
    border-radius: 25.9016px;
}

.address-block .address-block-item .account-image-block .preview {
    padding: 0;
    overflow: hidden;
}

.address-block .address-block-item .account-sms-field .account-paste-clipboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 15px;
    border-radius: 25.9016px;
    border: 0;
}

.address-block .address-block-item .account-sms-field {
    position: relative;
    padding: 0;
}

.address-block .address-block-item .account-sms-field .clear-clipboard {
    position: absolute;
    top: 5px;
    right: 25px;
    z-index: 100;
    color: red;
}

.address-block .address-block-item .account-sms-field .pasted-clipboard {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1rem;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.address-block .address-block-item .or-text {
    text-align: center;
    padding: 15px;
    font-weight: bold;
    font-size: 1.2rem;
}

.address-block .address-block-item .account-image-block {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
}

.address-block .address-block-item .account-image-block .preview {
    width: 100%;
}

.address-block .address-block-item .account-image-block .preview img {
    width: 100%;
}

.address-block .address-block-item .account-image-block .upload-input {
    display: none;
}

.address-block .address-block-item .account-image-block .upload-account-button {
    width: 50%;
    margin: 0 auto 15px auto;
    padding: 5px;
    background-color: #6F5D7C;
    color: var(--white-color);
    border: 1px solid #1F0235;
    border-radius: 18px;
}

.address-block .address-block-item .account-image-block .upload-account-button:hover {
    background-color: var(--main-color);
}

/* Processes Page Styles */

.process-table {
    font-size: .7rem;
}

/* 
.table-responsive {
    height: 35vh;
} */

.processes-block {
    height: 35vh;
    overflow: scroll;
}

/* Query Info Modal */

.card_info_block .card-image {
    width: 100%;
}

.card_info_block .card-image.zoomed {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

/* Single query page - client */

.react-datepicker__input-container {
    text-align: center;
}

.react-datepicker__input-container input {
    background-color: var(--background-color);
    border: 0;
    border-bottom: 1px solid #000;
    text-align: center;
}

.query-status-block .process-title {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 15px;
}

.query-status-block img {
    width: 100%;
}

/* Single Query Info Page - admin */

.process-owner-block {
    display: grid;
    grid-template-columns: 70% 30%;
}

.offer-owner-block {
    display: grid;
    grid-template-columns: 50% 25% 25%;
}

.process-owner {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.process-rate-block {
    font-weight: bold;
    font-size: .9em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.process-dollar-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.process-dollar-block .process-dollar-amount {
    margin-right: 8vw;
    font-weight: bold;
    font-size: .9em;
}

.process-offer-block .process-title {
    margin-bottom: 10px;
}

.process-offer-block .proof-block img {
    width: 100%;
}

.process-offer-block .proof-block .proof-wait-title {
    color: red;
    font-size: 1.3em;
    font-weight: bold;
}

.card-info-block {
    max-width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2em;
    font-weight: bold;
    font-size: 1.7em;
}

.card-info-block pre {
    margin: 0 !important;
}

.card-info-block img {
    max-width: inherit;
}

.process-deliverer-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .6em;
}

.process-deliverer-block .process-deliverer-name {
    font-size: 1.3em;
    font-weight: bold;
}

.process-carrier-list {
    padding: 1.5em;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-block select,
.process-carrier-list select {
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    outline: none;
}

.process-title {
    color: #333;
    font-weight: bold;
}

.underlined {
    text-decoration: underline;
}

/* Offer Page - admin */

.checkbox-block .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
}

.checkbox-block .checkbox input {
    margin: 0 !important;
}

.proof-modal-item img {
    width: 100%;
}

.give-money-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.give-money-modal h3,
.give-money-modal input,
.give-money-modal select {
    margin-top: 10px;
}

.give-money-modal select {
    width: 90%;
    padding: 7px 15px;
    text-align: center;
    font-size: 1.3em;
    border: 1px solid var(--main-color);
    border-radius: 25px;
}

.give-money-modal .input-field {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

.give-money-modal .input-field span {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    z-index: 100;
    font-size: 1.5em;
    font-weight: bold;
}

.give-money-modal .input-field input {
    width: 100%;
    margin: 0;
}

.modal-button.secondary {
    background-color: var(--background-color);
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

.modal-button.disabled {
    background-color: #dedede;
    color: var(--title-color);
}

img.profile-image {
    width: 100%;
    border-radius: 50%;
    border: 3px solid #FF9D27;
}

.profile-block {
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 15px;
}

.profile-block .profile-details {
    width: 100%;
    font-weight: bold;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.profile-balance {
    width: 100%;
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
}

.profile-balance .amount-usd {
    font-size: 0.8em;
}

.profile-balance .amount-uzs {
    font-size: 0.7em;
}

.empty-block {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-block img {
    width: 90vw;
}